NODE_ENV=production
PORT=3000
DB_HOST=db
OCR_HOST=ocr
DB_ROOT_PASSWORD=CHANGE_ME
DB_NAME=tiquets_db
DB_USER=user_seguro
DB_PASSWORD=CHANGE_ME
SESSION_SECRET=CHANGE_ME
AES_SALT=CHANGE_ME
TAILSCALE_AUTHKEY=CHANGE_ME
TS_HOSTNAME=CHANGE_ME
CLOUDFLARE_TUNNEL_TOKEN=CHANGE_ME
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=CHANGE_ME
METRICS_PORT=9090
CLAVE_1=CHANGE_ME
CLAVE_2=CHANGE_ME
CLAVE_3=CHANGE_ME
CLAVE_4=CHANGE_ME
CLAVE_5=CHANGE_ME
CLAVE_6=CHANGE_ME
CLAVE_7=CHANGE_ME
CLAVE_8=CHANGE_ME
CLAVE_9=CHANGE_ME
CLAVE_10=CHANGE_ME
CLAVE_API=CHANGE_ME
PROXYSQL_ADMIN_USER=admin
PROXYSQL_ADMIN_PASSWORD=CHANGE_ME
PROXYSQL_ADMIN_RO_USER=stats
PROXYSQL_ADMIN_RO_PASSWORD=CHANGE_ME
PROXYSQL_MONITOR_USER=monitor
PROXYSQL_MONITOR_PASSWORD=CHANGE_ME
DB_USER_PROXY=user_seguro
DB_PASSWORD_PROXY=CHANGE_ME
ORCHESTRATOR_TOPOLOGY_USER=orchestrator_topology
ORCHESTRATOR_TOPOLOGY_PASSWORD=CHANGE_ME
ORCHESTRATOR_DB_USER=orchestrator
ORCHESTRATOR_DB_PASSWORD=CHANGE_ME
